<!DOCTYPE html>
<html ng-app="draftApp">
<head>
    <title>Trubie's DM Draft Generator</title>
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="js/draft.controller.js"></script>

    <link
            href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"
            rel="stylesheet" media="screen" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://dicecoalition.com/css/general.css">
    <link rel="stylesheet" href="http://dicecoalition.com/css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--favicons-->
    <link rel="apple-touch-icon" sizes="120x120" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <style>
        .mySlides {display:none}
        .w3-left, .w3-right, .w3-badge {cursor:pointer}
        .w3-badge {height:13px;width:13px;padding:0}
    </style>
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body ng-controller="DraftController as draftCtrl" style="margin:0; padding:0; background-color:lightgrey;">
<!--Navbar-->
<div w3-include-html="topbar.php"></div>
<script>
    w3.includeHTML();
</script>
<div class="row" style="padding-top:2cm">
    <center>

        <h2>
            <img src="must.png">
            Trubie's Draft Pack Generator
            <img src="must.png">
        </h2>
    </center>
</div>
<div class="row">
    <div>
        <center>
            <div style="font-size:180%;">Set:
                <select ng-model="draftCtrl.selectedSet">
                    <option ng-repeat="x in draftCtrl.sets">{{x}}</option>
                </select>
                BACs:
                <select ng-model="draftCtrl.selectedBacSet">
                    <option ng-repeat="y in draftCtrl.bacsets">{{y}}</option>
                </select>
                <br>
                Pack Count:
                <select ng-model="draftCtrl.packCount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                Image Size:
                <select ng-model="draftCtrl.size">
                    <option ng-repeat="z in draftCtrl.sizes">{{z}}</option>
                </select>

                <br>
                <label ng-show="draftCtrl.showStarterCheck()">Include Starter:
                    <input type="checkbox" ng-model="draftCtrl.starter">
                </label>
            </div>
            <div style="padding-top:10px"><button type="button" ng-click="draftCtrl.load()">Get Packs</button></div>
        </center>
    </div>
</div>
<div id="packDiv" ng-include="draftCtrl.packs"></div>

<div style="text-align:center; padding: 3px; font-size: small;">
    Draft Pack Generator by Trubie Turner. The images on this website are copyrighted by NECA/WizKids LLC. This website is not affiliated with nor endorsed by NECA/WizKids LLC.
</div>
</body>
</html>
